@import '../../../../styles/variables.styl'

.subscribeForm
  display flex
  justify-content center
  flex-wrap wrap
  padding-top 7vh
  .input, .button
    margin 0 15px 30px
    width 100%
    max-width 500px
    &:last-child
      margin-bottom 0
    @media screen and (min-width mediumWidth) {
      width max-content
      margin-bottom 0
    }