@import '../../styles/variables.styl'

.aboutPage
  padding 0 15px
  max-width largeWidth
  font-size fontSize
  &__teamInfo
    margin-top 5vh
    margin-bottom 0
    @media screen and (min-width mediumWidth)
      margin-top 9vh
    p:last-child
      margin-bottom 0
    img 
      float right
      width 300px
      padding-left 15px
      padding-bottom 15px
      display none
      @media screen and (min-width mediumWidth)
        display block
  
  h2
    font-size 22px
    .underscore
      text-decoration: underline
      white-space: nowrap

  .guideInfo
    &__title
      font-size 22px