@import '../../../styles/variables.styl'

.button
  background coral
  border 1px solid coral
  padding 15px
  outline none
  font-size fontSize
  color colorWhite
  transition all .4s
  cursor pointer
  user-select none
  &_secondary
    background colorWhite
    color coral
  &:hover, &:focus
    background colorWhite
    color coral