.slider
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  z-index 1
  &__item
    position absolute
    height 100%
    width 100%
    background-size cover
    background-position center
    opacity 0
    transition all 1s
    &_active
      opacity 1