.article-page
  .buttons
    display flex
    flex-direction: column
    align-items: center
    .link
      display block
      width 100%
      max-width 250px
    .button
      margin-top 20px
      width 100%
      max-width 250px
  img 
    width 100%
  ul
    list-style-type none
    padding-left 0
  li, img
    margin-bottom 15px
  p, ul
    margin-bottom 30px