@import '../../styles/variables.styl'

.shortInfo
  margin 9vh auto 0
  overflow auto
  max-width largeWidth
  & &__description
    font-size fontSize
  & &__title
    margin-top 0
    font-size titleFontSizeSecondary
  img 
    float left
    width 300px
    height auto
    padding-right 15px
    padding-bottom 15px
  .underscore
    text-decoration: underline
    white-space: nowrap