@import '../../styles/variables.styl'

.shortInfo
  margin-top 9vh
  overflow auto
  & &__description
    font-size fontSizeM
  & &__title
    margin-top 0
    font-size titleFontSizeSecondary
  img 
    float left
    width 300px
    height auto
    padding-right 15px
    padding-bottom 15px
  .underscore
    text-decoration: underline
    white-space: nowrap