@import '../../../styles/variables.styl'

.input
  position relative
  border borderLight
  box-sizing border-box
  &_withValue
    .input__placeholder
      transform translateY(-110%) scale(0.7)
  &__placeholder
    position absolute 
    top 50%
    transform translateY(-50%)
    transform-origin 0
    left 15px
    transition transform .2s
    pointer-events none
    color colorDark
  &__underline
    position absolute 
    left -1px
    bottom -1px
    width 0
    height 3px
    background coral
    transition all .4s
  input
    border none
    padding 23px 15px 7px
    outline none
    font-size fontSize
    background-color colorLighter
    width 100%
    box-sizing border-box
    &:focus
      background-color colorWhite
    &:focus ~ .input
      &__underline
        width calc(100% + 2px)
      &__placeholder
        transform translateY(-110%) scale(0.7)

