@import '../../styles/variables.styl'

.tourpage
  padding 0 15px
  &__header
    text-align center
    padding 35px 15px 0
    &__title, &__name
      color colorWhite
      text-shadow 1px 1px #555
    &__title
      margin 0
      font-size 24px
      letter-spacing 2px
      @media screen and (min-width smallWidth)
        font-size 28px
      @media screen and (min-width 1400px)
        font-size 34px
    &__dates
      color #adff2f
      text-shadow 1px 1px #555
      font-size 20px
      margin 24px 0
      @media screen and (min-width smallWidth)
        font-size 24px
      @media screen and (min-width 1400px)
        font-size 30px
    &__name
      font-size 50px
      margin 35px 0
      @media screen and (min-width smallWidth)
        font-size 57px
      @media screen and (min-width 1400px)
        font-size 70px
  &__section
    &_1
      .tourpage__firstBlockItems
        display grid 
        grid-template-columns repeat(1, 1fr)
        grid-gap 15px
        grid-auto-rows minmax(100px, auto)
        text-align center
        @media screen and (min-width smallWidth)
          grid-template-columns repeat(2, 1fr)
        @media screen and (min-width largeWidth)
          grid-template-columns repeat(3, 1fr)
    &_2
      .tourpage__secondBlockItems
        display grid 
        grid-template-columns repeat(1, 1fr)
        text-align center
        @media screen and (min-width smallWidth)
          grid-template-columns repeat(2, 1fr)
        @media screen and (min-width largeWidth)
          grid-template-columns repeat(4, 1fr)
        .imageFact 
          position relative
          background-size cover
          background-position center
          &::before
            content: ''
            display block
            padding-top: 100%
          &__details
            position absolute
            left 0
            right 0
            bottom 0
            padding 25px 15px
            height max-content
            text-shadow: 0 0 30px rgba(0,0,0,.9)
            color colorWhite
            font-weight 500
    &_3
      .tourpage__thirdBlockItems
        display grid
        grid-template-columns repeat(1, 1fr)
        grid-gap 15px
        grid-auto-rows minmax(100px, auto)
        @media screen and (min-width mediumWidth)
          grid-template-columns repeat(2, 1fr)
        .textBlock
          padding-left 50px
          position relative
          &::before
            content ''
            position absolute 
            top 5px
            left 0
            width 30px
            height 15px
            border-left borderBlack 
            border-bottom borderBlack
            transform rotate(-45deg)
          &__title
            margin-top 0
    &_5
      .tourpage__fifthBlockItems
        display grid 
        grid-template-columns repeat(1, 1fr)
        grid-gap 15px
        grid-auto-rows minmax(100px, auto)
        @media screen and (min-width mediumWidth)
          grid-template-columns repeat(2, 1fr)
        @media screen and (min-width largeWidth)
          grid-template-columns repeat(3, 1fr)
        .fact
          &__head
            display flex
            align-items center
          &__title
            margin 0 0 0 15px
      .tourpage__additionalExpenses
        display grid 
        grid-template-columns repeat(1, 1fr)
        grid-gap 15px
        grid-auto-rows minmax(100px, auto)
        @media screen and (min-width smallWidth)
          grid-template-columns repeat(2, 1fr)
          .textBlock
            max-width 450px
        .textBlock
          width: 100%
          &:nth-child(odd)
            margin-left auto
          &__title
            margin-top 0
      .button
        margin 7vh auto 0
        display block
