@import '../../../../../styles/variables.styl'

menuOpen()
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  display block
  padding-top 75px
  z-index 4
  background-color rgba(0,0,0,0.8)
  .navlist
    padding 0 15px
    &__subscribeButton
      margin-top 15px
      text-align center
    li
      display block
      margin 0
    .link
      padding 15px 0
      display block

.header-menu
  display flex
  justify-content space-between
  align-items center
  padding-top 3vh
  padding-bottom 3vh
  border-bottom borderLighter
  box-sizing border-box
  @media screen and (min-width mediumWidth) {
    padding-top 4vh
    padding-bottom 4vh
  }
  &__logo, &__burger
    position relative
    z-index 5
  &__logo
    color greenyellow
    font-size 25px
    font-weight bold
    text-decoration none
    span 
      color coral
  &__nav
    display none
    transition background-color .2s
    @media screen and (min-width mediumWidth)
      display block
    .navlist
      list-style-type none 
      padding-left 0
      margin 0
      &__subscribeButton
        color colorDark
        font-size fontSizeS
        font-weight 300
        letter-spacing -.5px
        border borderLight
        border-radius 17px
        padding 5px 10px 6px
        cursor pointer
        transition all .4s
        background-color transparent
        outline none
        &:hover
          background-color colorLighter
      li
        display inline-block
        margin-left 20px
        .link
          color colorDark
          font-size fontSizeS
          font-weight 400
          letter-spacing -.5px
          text-decoration none
          transition 0.4s
          cursor pointer
          outline: none
          &:hover, &:focus
            color #aaa
  &__burger
    width 30px
    height 20px
    position relative
    cursor pointer
    margin-left auto
    outline none
    @media screen and (min-width mediumWidth) {
      display none
    }
    span
      position absolute
      top 0
      right 0
      height 2px
      width 100%
      background-color colorWhite
      transition all .2s
      &:nth-child(2)
        top 8px
        width 80%
      &:nth-child(3)
        top 16px
        width 60%
    &_active
      span
        &:first-child
          top 8px
          right -4px
          transform rotate(45deg)
        &:nth-child(2)
          top 8px
          transform rotate(90deg)
          opacity 0
        &:nth-child(3)
          top 8px
          right -4px
          width 100%
          transform rotate(135deg)
      & + .header-menu__nav
        menuOpen()
  
  &_expanded
    border-bottom 1px solid rgba(255, 255, 255, 0.2)
    .header-menu__logo
      text-shadow 1px 1px colorBlack
    .navlist
      &__subscribeButton
        color colorWhite
        border-color rgba(255, 255, 255, 0.6)
        &:hover, &:focus
          background-color hsla(0,0%,100%,.1)
          border-color hsla(0,0%,100%,.38)
      li .link
        color colorWhite
        &:hover, &:focus
          color hsla(0,0%,100%,.6)
  