@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Amatic+SC:700&subset=cyrillic')
@import './variables.styl'
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body
  font-size fontSize
  font-family fontFamily
  color colorBlack
  margin 0
input, textarea
  font-family 'Roboto', sans-serif
a
  text-decoration none

.container
  max-width 1170px
  margin 0 auto

.generalLayout
  height 100vh
  overflow auto

.link
  text-decoration: underline
  &:hover
    text-decoration: none

.px-3
  padding-left 15px
  padding-right 15px
.pointer
  cursor pointer
.text-center
  text-align: center
.mb-5
  margin-bottom 30px