// variables ====================================
fontSize = 18px
fontSizeS = 17px
fontSizeXS = 15px

titleFontSizeSecondary = 25px
titleFontSizeSecondarySm = 20px
titleFontSize = 30px
titleFontSizeSm = 25px

fontFamily = 'Roboto', sans-serif
fontFamilyCursive = 'Amatic SC', cursive

colorWhite = #fff
colorLighter = #eee
colorLight = #ccc
colorDark = rgba(0,0,0,0.6)
colorBlack = #222

borderWhite = 1px solid colorWhite
borderLighter = 1px solid #ddd
borderLight = 1px solid colorLight
borderBlack = 1px solid colorBlack

smallWidth = 576px
mediumWidth = 768px
largeWidth = 992px
extraLargeWidth = 1200px

// mixins =======================================
absoluteFitParent()
  position absolute 
  top 0
  left 0
  right 0
  bottom 0