@import '../../styles/variables.styl'

.title
  margin-top 9vh
  margin-bottom 8vh
  font-size titleFontSizeSm
  font-weight bold
  color colorBlack
  text-align center
  @media screen and (min-width mediumWidth)
    font-size titleFontSize
    
  &__secondary
    font-size titleFontSizeSecondarySm
    @media screen and (min-width mediumWidth)
      font-size titleFontSizeSecondary
  