@import '../../../styles/variables.styl'

.modal
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0,0,0,0.3)
  z-index 50
  overflow-y scroll

  &__content
    margin 10vh auto
    width max-content
    max-width 100vw
    background-color #fff
    padding 30px
    border-radius 2px

  &-transition
    &-enter
      top -400px
      opacity 0
    &-enter-active
      top 0
      opacity 1
      transition all 400ms
    &-exit
      opacity 1
    &-exit-active
      opacity 0
      transition all 400ms
