@import '../../styles/variables.styl'

.homepage
  padding 0 15px
  &__moto
    color colorWhite
    font-family fontFamilyCursive
    font-size 50px
    text-shadow 1px 1px #555
    text-align center
    padding 15px
    @media screen and (min-width 1400px)
      font-size 70px
  &__section
    &_tourslider
      min-height 600px
    &_atlas
      overflow visible
      ol
        list-style-type none
        padding 0
        margin 0
        max-width 700px
        margin 0 auto
        .fact
          display flex
          margin-bottom 40px
          &__number
            width 40px
            height 40px
            border 2px solid blue
            border-radius 50%
            flex-shrink 0
            text-align center
            line-height 38px
            margin-right 30px
            color blue
          &__details
            margin-bottom 0
      .title
        margin-bottom 3vh
    &_calendar
      .title
        margin-top 10vh
    &_subscribe
      padding-bottom 10vh
