@import '../../styles/variables.styl'

@keyframes blink {
  0%, 45% {opacity: 0.4}
  50, 100% {opacity: 1}
}
.homepage
  &__title
    margin-bottom 0
    margin-top 0
    font-size titleFontSize
    font-weight bold
    color colorBlack
    text-align center
  &__scrolldown
    width 60px
    margin 0 auto 15vh
    padding 10px 0
    outline none
    position relative
    &::before, &::after
      content ''
      position absolute
      display inline-block
      width 40px
      height 40px
      border-right borderWhite
      border-bottom borderWhite
      transform rotate(45deg)
      transform-origin 50% 50%
      left 9px
      animation blink 1.2s linear 0s infinite alternate
    &::after
      top 35px
      animation blink 1.2s linear .3s infinite alternate
  &__moto
    color colorWhite
    font-family fontFamilyCursive
    font-size 50px
    text-shadow 1px 1px #555
    text-align center
    padding 15px
  &__section1
    padding-top 65px
    min-height 600px
    .homepage__title
      margin-bottom 0
  &__section2
    margin-top -40px
    ol
      list-style-type none
      padding 0
      margin 0
      max-width 700px
      margin 0 auto
      .fact
        display flex
        margin-bottom 40px
        &__number
          width 40px
          height 40px
          border 2px solid blue
          border-radius 50%
          flex-shrink 0
          text-align center
          line-height 38px
          margin-right 30px
          color blue
        &__title
          font-size fontSize
          font-weight bold
          margin-top 0
        &__details
          margin-bottom 0
  &__section3
    padding 7vh 0 4vh
  &__section4
    padding 8vh 0 10vh
    .homepage__title
      padding 0 15px
