@import '../../../styles/variables.styl'

.title
  margin-top 9vh
  margin-bottom 8vh
  font-size titleFontSize
  font-weight bold
  color colorBlack
  text-align center
  &__secondary
    font-size titleFontSizeSecondary