@import '../../../styles/variables.styl'

iconWidth = 35px

.footer
  padding 0 15px
  text-align center
  @media screen and (min-width extraLargeWidth)
    padding 0
  .link
    color colorBlack
    text-decoration none
    font-size fontSizeXS
    &:hover
      text-decoration underline
  &__wrapper
    border-top borderLighter
    padding 40px 0
  &__contactInfo
    display flex
    flex-wrap wrap
    flex-direction column
    max-width smallWidth
    margin 0 auto
    justify-content space-between
    align-items center
    width max-content
    @media screen and (min-width smallWidth)
      width 100%
      flex-direction row
    .link
      display inline-block
      margin-bottom 15px
      width max-content
      @media screen and (min-width smallWidth)
        margin-bottom 0
      &:first-child, &:nth-child(2)
        i
          font-size 17px
      &:hover
        i
          background-color colorLight
          color colorWhite
    i
      transition all 0.2s
      width iconWidth
      height iconWidth
      line-height iconWidth
      text-align center
      border borderLight
      border-radius 50%
      color colorDark
      margin-right 8px
      font-size 14px
  &__links
    list-style-type none
    margin 0 auto 15px
    padding 0
    width 100%
    max-width smallWidth
    display flex
    flex-wrap wrap
    flex-direction column
    @media screen and (min-width smallWidth)
      justify-content space-between
      flex-direction row
    .link
      display inline-block
      margin-bottom 15px
    

