@import '../../styles/variables.styl'

.tourpage
  &__header
    text-align center
    padding 35px 15px 0
    h4, h3, h2, h1
      color colorWhite
      text-shadow 1px 1px #555
      margin 0
    h2, h4
      font-size 20px
      margin 24px 0
      @media screen and (min-width smallWidth)
        font-size 24px
      @media screen and (min-width 1400px)
        font-size 30px
    h3
      font-size 24px
      letter-spacing 2px
      @media screen and (min-width smallWidth)
        font-size 28px
      @media screen and (min-width 1400px)
        font-size 34px
    h2
      color #adff2f
    h4
      @media screen and (min-width smallWidth)
        margin 0
    h1
      font-size 50px
      margin 35px 0
      @media screen and (min-width smallWidth)
        font-size 57px
      @media screen and (min-width 1400px)
        font-size 70px
      