.gallery
  .slide
    background-size cover
    background-position center 
    height 80vh
    max-height 600px
  .slick
    &-arrow
      left 25px
      z-index 5
    &-next
      left unset
      right 25px