@import '../../../../styles/variables.styl'

.calendar-table
  margin 80px auto 0
  font-size fontSizeXS
  border-collapse collapse
  &__holder
    max-width 100%
    overflow auto
  &__head
    th
      text-align left
      padding 10px 15px
      color colorDark
      font-weight normal
      &:last-child
        text-align right
  &__row
    &:hover
      background-color colorLighter
      .link
        text-decoration underline
    td
      border-top borderLight
      text-align right
      padding 10px 15px
      max-width 250px
      min-width 110px
      &:first-child, &:nth-child(2)
        text-align left
      .icon
        padding 5px
        &_full
          color colorBlack
        &_empty
          color colorLight
      .link
        text-decoration none
        color colorBlack
        &:hover
          color colorDark