@import '../../../../styles/variables.styl'

.calendar-table
  margin 0 auto
  font-size fontSizeS
  border-collapse collapse
  &__holder
    max-width 100%
    overflow auto
  &__head
    th
      text-align left
      padding 15px
      color colorDark
      font-weight normal
      white-space nowrap
      &:last-child
        text-align right
  &__row
    &:hover
      background-color colorLighter
      .link
        text-decoration underline
    td
      border-top borderLighter
      text-align right
      padding 15px
      max-width 250px
      min-width 110px
      white-space nowrap
      &:first-child, &:nth-child(2)
        text-align left
      .link
        text-decoration none
        color colorBlack
        &:hover
          color colorDark